<main class="profile-page">
  <section class="section section-lg section-shaped pb-250 ">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--400">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image" *ngIf="isLoaded">
                <a href="javascript:void(0)">
                  <img *ngIf="user.image != null" [src]="getImageSource()" class="title-image rounded-circle" style="width:170px;height:170px;">           
                </a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <div class="card-profile-actions py-4 mt-lg-0">
                <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4" (click)="pushData(); openEditDialog();" >Edit profile</a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <h3> {{user.lastName}} {{user.firstName}}
              <span class="font-weight-light"></span>
            </h3>
            <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>{{user.country}}</div>
            <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>Trainee - Fpt Software</div>
            <div><i class="ni education_hat mr-2"></i>Ho Chi Minh Univercity of Technology & Education</div>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row">
                <div class="col-sm-2 text-lg-left">
                  <h6>Frist Name: </h6>
                  <h6>Last Name: </h6>
                  <h6>Sex : </h6>
                  <h6>D.O.B : </h6>
                  <h6>Email : </h6>
                  <h6>Phone : </h6>
                  <h6>Country : </h6>
                </div>
              
                <div class="col-sm-4 text-lg-left">
                  <h6>{{user.firstName}}</h6>
                  <h6>{{user.lastName}}</h6>
                  <h6>{{user.sex}}</h6>
                  <h6>{{user.doB | date:'dd/MM/yyyy'}}</h6>
                  <h6>{{user.email}}</h6>
                  <h6>{{user.phone}}</h6>
                  <h6>{{user.country}}</h6>

                </div>
            <div class="col-sm-6 text-lg-left">

            <h6>Taken Exam Times: {{takenTimes}}</h6>
            <h6>Highest Score: {{highestScore}}</h6>
            <h6> Certificate: 0</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
</main>
