<div mat-dialog-actions >
    <div class="col-12">
      <h1 class="text-center">Do you want to submit</h1>
      
      <div class="row">
          <div class="col-3"></div>
          <div class="col-3">
          <button class="btn btn-small btn-danger"  mat-button (click)="onNoClick()">Cancel</button>
          </div>
          <div class="col-3">
          <button class="btn btn-small btn-success"   mat-button (click)="onSubmitClick()">Submit</button>
          </div>
      </div>
    </div>
  </div>